@media all and (min-width:360px) {	
		/*section시작*/
		.section_entire{
			width:100%;
			height:90%;
			display:inline-block;
			float:left;
		}			
			.search_area_entire{
				width:100%;
				height:30%;
				display:inline-block;
				float:left;
				position:relative;
				text-align:center;
			}
				.search_area_entire form{
					border:1px solid lightgray;
					background-color:white;
					width:90%;
					height:25%;
					display:inline-block;
					border-radius:10px;
					/*margin:0 auto;*/
					position:absolute;
					top:35%;
					left:5%;
				}
					/*select 통합검색*/
					.search_area_entire form select{
							display:inline-block;
		                     float:left;
		                     width:30%;
		                     height:100%;
		                     border:none;
		                     outline:none;
		                     background-color:white;
		                     font-size:14px;
		                     color: gray;
					}
						.search_area_entire form select option{
							border:none;
						}
					.search_area_entire input[type="text"]{
						border:none;
						outline:none;
						background-color:white;
						font-size:16px;
						padding-left:3%;
						height:100%;
						width:47%;
						display:inline-block;
						float:left;
					}
					.search_area_entire button{
						width:20%;
						height:100%;
						display:inline-block;
						float:left;
						border:none;
						outline:none;
						text-align:center;
						line-height:100%;
					}
						.search_area_entire button img{
							width:40%;
							height:auto;
							display:inline-block;
						}
			.menu_area_entire{
				width:100%;
				height:70%;
				display:inline-block;
				float:left;
				text-align:center;
			}
				.menu_area_entire ul{
					width:100%;
					height:100%;				
				}
					.menu_area_entire ul li{
						width:50%;
						height:50%;
						display:inline-block;
						float:left;
						text-align:center;
						color:white;
					}
					.menu1{
						/*background-color:#b1afa2 ;	*/
						background-color:lightgray;
					}
					.menu2{
						background-color:rgb(235, 197, 192);
						/*background-color:#ffd500;*/
					}
					.menu3{
						background-color:#fc9100;
					}	
					.menu4{
					/*background-color:#b1afa2 ;	*/
						/*background-color:#000056;*/
						background-color:#008;
						
					}
						.menu_area_entire ul li img{
							width:auto;
							height:40%;
							margin:auto;
							margin-top:23%;
							display:inline-block;
						}
						/*.menu3 img{
							width:40%;
						}*/
						
						.menu_area_entire ul li p{
							font-size:17px;
							color:white;
						}

}/*미디어쿼리 닫힘*/